{% load static %}
<!DOCTYPE HTML>
<html lang="ar">

<head>
	<meta charset="utf-8">
	<title>Falah</title>

	<link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
	<link href="{% static "css/style.css" %}" rel="stylesheet">
	<link href="{% static "color/default.css" %}" rel="stylesheet">
	<link rel="{% static "shortcut icon" %}" href={% static "img/favicon.ico" %}">
	<link href="{% static "css/pikaday.css" %}" rel="stylesheet" type="text/css">

</head>

<body>


	<!-- navbar -->
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
					<h1 class="brand"><a href="index.html">فلاح</a></h1>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">

						<li><a title="home" href="#home">الرئيسية</a></li>
						<li><a title="about" href="#about">عن الموقع</a></li>
						<li><a title="help" href="#services">المساعدة</a></li>	
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	
	
	<section id="contact" class="section green">
		<div class="container">
			<h4>إنشاء حساب جديد</h4>
			
			<div class="blankdivider30">
			</div>
			<div class="row">
				<div class="span12">
					<div class="cform" id="contact-form">
						
						<form action="" method="post" role="form" class="contactForm">
						{% csrf_token %}
							<div class="row">
								<div class="span4">
									<div class="field your-name form-group">
										<!-- <input type="text" name="name" class="form-control" id="name" placeholder="اسم المستخدم" data-rule="minlen:4" data-msg="Please enter at least 4 chars" /> -->
										{{form.username}}
									</div>
									<div class="field your-name form-group">
										<!-- <input type="text" class="form-control" name="email" id="email" placeholder="الاسم الأول" data-rule="email" data-msg="Please enter a valid email" /> -->
										{{form.first_name}}
									</div>
									<div class="field subject form-group">
										<!-- <input type="password" class="form-control" name="password" id="password" placeholder="كلمة المرور" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />   -->
										{{form.password1}}
									</div>
									<div class="field subject form-group">
										<!-- <input type="date" class="form-control" name="subject" id="subject" placeholder="تاريخ الولادة" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
										{{form.birth_date}}
									</div>
								
								</div>


								<div class="span4">
									<div class="field subject form-group">
										<!-- <input type="text" name="name" class="form-control" id="name" placeholder="البريد الإلكتروني" data-rule="minlen:4"/> -->
										{{form.email}}
									</div>
									<div class="field subject  form-group">
										<!-- <input type="text" class="form-control" name="email" id="email" placeholder="اسم العائلة" data-rule="email" /> -->
										{{form.last_name}}
									</div>
									<div class="field subject form-group">
										<!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="تأكيد كلمة المرور" data-rule="minlen:4" /> -->
										{{form.password2}}
									</div>
								</div>
							</div>


							<hr>
							<br>
							

							<div class="span4">
									
								<div class="field subject form-group">
									<h5 for="isWorker">هل تريد إنشاء حساب عامل أيضاً؟</h5>
								
								</div>


								<div class="field subject form-group">
								<input type="submit" value="إنشاء حساب" class="btn btn-theme pull-right">
								</div>
							</div>	


							<div class="span1">
							
								<ul class="tg-list">
									<input class="tgl tgl-ios" id="cb2" type="checkbox" />
								<label class="tgl-btn" for="cb2"></label>
								</ul>
							</div>	



							

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a> -->
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/jquery.scrollTo.js" %}"></script>
	<script src="{% static "js/jquery.nav.js" %}"></script>
	<script src="{% static "js/jquery.localScroll.js" %}"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>
	<script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
	<script src="{% static "js/isotope.js" %}"></script>
	<script src="{% static "js/jquery.flexslider.js" %}"></script>
	<script src="{% static "js/inview.js" %}"></script>
	<script src="{% static "js/animate.js" %}"></script>
	<script src="{% static "js/custom.js" %}"></script>
	<script src="{% static "contactform/contactform.js" %}"></script>
	<script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/pikaday.js" %}"></script>
	<script>
		//moment.locale('ar');
			var picker = new Pikaday({
				 
				field: document.getElementById('{{form.birth_date.id_for_label}}'),
				firstDay: 1,
				minDate: new Date(1900, 1, 1),
				maxDate: new Date({%now "Y" %}, 12, 31),
				yearRange: [1900,{%now "Y" %}],
				format: 'YYYY-MM-DD',
				isRTL: true,
				i18n: {
					previousMonth : 'الشهر السابق',
					nextMonth     : 'الشهر التالي',
					months        : ['يناير','فبراير','مارس','أبريل','مايو','يونيو','يوليو','أغسطس','سبتمبر','أكتوبر','نوفمبر','ديسمبر'],
					weekdays      : ['الأحد','الإثنين','الثلاثاء','الأربعاء','الخميس','الجمعة','السبت'],
					weekdaysShort : ['حد','ثن','ثل','ربع','خمس','جمع','سبت']
						},
				onSelect: function() {
					console.log(this.getMoment().format('Do MMMM YYYY'));
				}
			});
		</script>
</body>

</html>
