{% extends 'main/base.html' %}

{% block content %}
	
	<section id="contact" class="section green">
		<div class="container">
			<h4>إنشاء حساب جديد</h4>
			
			<div class="blankdivider30">
			</div>
			<div class="row">
				<div class="span12">
					<div class="cform" id="contact-form">
						
						<form method="POST">
						{% csrf_token %}
							<div class="row">
								<div class="span4">
									<div class="field your-name form-group">
										<!-- <input type="text" name="name" class="form-control" id="name" placeholder="اسم المستخدم" data-rule="minlen:4" data-msg="Please enter at least 4 chars" /> -->
										{{form.username}}
									</div>
									<div class="field your-name form-group">
										<!-- <input type="text" class="form-control" name="email" id="email" placeholder="الاسم الأول" data-rule="email" data-msg="Please enter a valid email" /> -->
										{{form.first_name}}
									</div>
									<div class="field subject form-group">
										<!-- <input type="password" class="form-control" name="password" id="password" placeholder="كلمة المرور" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />   -->
										{{form.password1}}
									</div>
									<div class="field subject form-group">
										<!-- <input type="date" class="form-control" name="subject" id="subject" placeholder="تاريخ الولادة" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
										{{form.birth_date}}
									</div>
								
								</div>


								<div class="span4">
									<div class="field subject form-group">
										<!-- <input type="text" name="name" class="form-control" id="name" placeholder="البريد الإلكتروني" data-rule="minlen:4"/> -->
										{{form.email}}
									</div>
									<div class="field subject  form-group">
										<!-- <input type="text" class="form-control" name="email" id="email" placeholder="اسم العائلة" data-rule="email" /> -->
										{{form.last_name}}
									</div>
									<div class="field subject form-group">
										<!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="تأكيد كلمة المرور" data-rule="minlen:4" /> -->
										{{form.password2}}
									</div>
								</div>
							</div>


							<hr>
						
							

							<div class="span4">
									
								<div class="field subject form-group">
									<h5 for="isWorker">هل تريد إنشاء حساب عامل أيضاً؟</h5>
								
								</div>

									<div class="field subject form-group">
										<!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="تأكيد كلمة المرور" data-rule="minlen:4" /> -->
										<h5 for="{{form.tos.id_for_label}}">أوافق على   <a target="blank" href="#">شروط الاستخدام</a></h5>
									</div>

								<div class="field subject form-group">
								<br>
								<button type="submit" class="btn btn-theme pull-right">إنشاء الحساب</button>
								</div>
							</div>	


							<div class="span1">
							
								<ul class="tg-list">
									<input class="tgl tgl-ios" id="cb2" type="checkbox" />
								<label class="tgl-btn" for="cb2"></label>
								</ul>

								<ul class="tg-list">
								{{form.tos}}
								<label class="tgl-btn" for="{{form.tos.id_for_label}}"></label>
								</ul>
							</div>	
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
