{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block content %}
	<section id="contact" class="section green">
		<div class="container">
			<h5 dir=rtl>أدخل بريدك الإلكتروني و سنقوم بإرسال اسم المستخدم الخاص بك و تزويدك برابط لإعادة ضبط كلمة المرور إذا كنت مسجل لدينا بالفعل:</h5 dir=rtl>
			<br/>
			<div class="blankdivider30">
			
				<div class="row">
					<div class="span12">
						<div class="cform" id="contact-form">
						

							<form method="POST">
								{% csrf_token %}
								<div class="row">

									<div class="span4">

										
									{% for field in form %}

										<div class="field your-name form-group">
											{{ field.errors }}
										    {% render_field field placeholder='اسم المستخدم' %}
											{% if field.help_text %}
											<p class="help">{{ field.help_text|safe }}</p>
											{% endif %}
										</div>
									{% endfor %}



										<hr>

										<div class="field subject form-group">
											
											<button type="submit" class="btn btn-theme pull-right">استرجاع الحساب</button>

										</div>

										
									
									</div>


									


								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>





{% endblock %}


